In [1]:
import numpy as np
import pandas as pd

df = pd.read_excel("datasets/pd4.xlsx", sheet_name='Arkusz1')

df.head()

,nazwa parametru,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,wynik
0,C1,0.897776,1.059293,0.685478,1.020124,1.045547,1.148584,1.244307,1.328091,1.042173,0.953365,-1.000000,0
1,C2,0.953501,0.927492,1.717376,0.982511,0.836885,1.040328,0.790359,0.735063,0.701276,0.836658,1.021575,0
2,C3,1.148723,1.013215,0.597146,0.997366,1.117568,0.811088,0.965334,0.936846,1.256551,1.209977,0.978425,0
3,PD1,1.213652,1.111843,0.846536,1.147372,1.058449,0.582651,-1.000000,0.827093,0.948897,1.042522,1.020711,1
4,PD2,1.588134,1.398797,1.062807,1.133034,1.668513,0.774141,0.527729,0.772487,0.617037,-1.000000,1.023237,1

In [2]:
parameters_list = ["p"+str(i+1) for i in range(11)]
parameters_list

['p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7', 'p8', 'p9', 'p10', 'p11']

In [3]:
list_of_dfs = []
for i in range(len(parameters_list)):
    for j in range(len(parameters_list)):
        if j > i:
            new_df = df[df[parameters_list[j]] != -1]
            new_df = df[df[parameters_list[i]] != -1]
            new_df = new_df[[parameters_list[i], parameters_list[j],  "wynik"]].copy()

            list_of_dfs.append(new_df)

In [7]:
list_of_dfs[1]

          p1        p3  wynik
0   0.897776  0.685478      0
1   0.953501  1.717376      0
2   1.148723  0.597146      0
3   1.213652  0.846536      1
4   1.588134  1.062807      1
5   1.133917  1.039155      1
6   0.612112  0.613492      0
7   0.752452  1.196165      0
8   1.635436  1.190343      0
9   1.121830 -1.000000      1
10  1.370171 -1.000000      1
11  0.987163  0.565962      1
12  1.169723  0.701321      0
13  1.018087  1.553735      0
14  0.812190  0.744944      0
15  0.699136  1.366559      1
16  0.671980  0.484276      1
17  0.674050 -1.000000      1
18  0.745781 -1.000000      0
19  0.919140  1.479398      0
20  1.335078  0.520602      0
21  1.686055 -1.000000      1
22  1.362610  1.162773      1
23  0.660869 -1.000000      1
24  1.318349 -1.000000      0
25  0.976255 -1.000000      0
26  0.705396 -1.000000      0
27  1.483869 -1.000000      1
28  0.894153 -1.000000      1

In [34]:
for list in list_of_dfs:
    print(len(list))
    print(list.columns)

29
Index(['p1', 'p2', 'wynik'], dtype='object')
29
Index(['p1', 'p3', 'wynik'], dtype='object')
29
Index(['p1', 'p4', 'wynik'], dtype='object')
29
Index(['p1', 'p5', 'wynik'], dtype='object')
29
Index(['p1', 'p6', 'wynik'], dtype='object')
29
Index(['p1', 'p7', 'wynik'], dtype='object')
29
Index(['p1', 'p8', 'wynik'], dtype='object')
29
Index(['p1', 'p9', 'wynik'], dtype='object')
29
Index(['p1', 'p10', 'wynik'], dtype='object')
29
Index(['p1', 'p11', 'wynik'], dtype='object')
33
Index(['p2', 'p3', 'wynik'], dtype='object')
33
Index(['p2', 'p4', 'wynik'], dtype='object')
33
Index(['p2', 'p5', 'wynik'], dtype='object')
33
Index(['p2', 'p6', 'wynik'], dtype='object')
33
Index(['p2', 'p7', 'wynik'], dtype='object')
33
Index(['p2', 'p8', 'wynik'], dtype='object')
33
Index(['p2', 'p9', 'wynik'], dtype='object')
33
Index(['p2', 'p10', 'wynik'], dtype='object')
33
Index(['p2', 'p11', 'wynik'], dtype='object')
18
Index(['p3', 'p4', 'wynik'], dtype='object')
18
Index(['p3', 'p5', 'wynik'], dtype='object')
18
Index(['p3', 'p6', 'wynik'], dtype='object')
18
Index(['p3', 'p7', 'wynik'], dtype='object')
18
Index(['p3', 'p8', 'wynik'], dtype='object')
18
Index(['p3', 'p9', 'wynik'], dtype='object')
18
Index(['p3', 'p10', 'wynik'], dtype='object')
18
Index(['p3', 'p11', 'wynik'], dtype='object')
26
Index(['p4', 'p5', 'wynik'], dtype='object')
26
Index(['p4', 'p6', 'wynik'], dtype='object')
26
Index(['p4', 'p7', 'wynik'], dtype='object')
26
Index(['p4', 'p8', 'wynik'], dtype='object')
26
Index(['p4', 'p9', 'wynik'], dtype='object')
26
Index(['p4', 'p10', 'wynik'], dtype='object')
26
Index(['p4', 'p11', 'wynik'], dtype='object')
16
Index(['p5', 'p6', 'wynik'], dtype='object')
16
Index(['p5', 'p7', 'wynik'], dtype='object')
16
Index(['p5', 'p8', 'wynik'], dtype='object')
16
Index(['p5', 'p9', 'wynik'], dtype='object')
16
Index(['p5', 'p10', 'wynik'], dtype='object')
16
Index(['p5', 'p11', 'wynik'], dtype='object')
25
Index(['p6', 'p7', 'wynik'], dtype='object')
25
Index(['p6', 'p8', 'wynik'], dtype='object')
25
Index(['p6', 'p9', 'wynik'], dtype='object')
25
Index(['p6', 'p10', 'wynik'], dtype='object')
25
Index(['p6', 'p11', 'wynik'], dtype='object')
33
Index(['p7', 'p8', 'wynik'], dtype='object')
33
Index(['p7', 'p9', 'wynik'], dtype='object')
33
Index(['p7', 'p10', 'wynik'], dtype='object')
33
Index(['p7', 'p11', 'wynik'], dtype='object')
23
Index(['p8', 'p9', 'wynik'], dtype='object')
23
Index(['p8', 'p10', 'wynik'], dtype='object')
23
Index(['p8', 'p11', 'wynik'], dtype='object')
22
Index(['p9', 'p10', 'wynik'], dtype='object')
22
Index(['p9', 'p11', 'wynik'], dtype='object')
21
Index(['p10', 'p11', 'wynik'], dtype='object')

In [35]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score

for list in list_of_dfs:
    #print(list.columns)
    #print(list.columns[0])
    x = list[[list.columns[0], list.columns[1]]]
    y = list['wynik']
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = .8)

    my_classifier = tree.DecisionTreeClassifier()
    my_classifier.fit(x_train, y_train)

    predictions = my_classifier.predict(x_test)
    score = accuracy_score(y_test, predictions)
    print("Accuracy for {}{}: ".format(list.columns[0], list.columns[1]), score)

Accuracy for p1p2:  0.5
Accuracy for p1p3:  0.5833333333333334
Accuracy for p1p4:  0.375
Accuracy for p1p5:  0.4166666666666667
Accuracy for p1p6:  0.75
Accuracy for p1p7:  0.7083333333333334
Accuracy for p1p8:  0.625
Accuracy for p1p9:  0.5416666666666666
Accuracy for p1p10:  0.5833333333333334
Accuracy for p1p11:  0.625
Accuracy for p2p3:  0.4444444444444444
Accuracy for p2p4:  0.6666666666666666
Accuracy for p2p5:  0.4074074074074074
Accuracy for p2p6:  0.7037037037037037
Accuracy for p2p7:  0.2962962962962963
Accuracy for p2p8:  0.5555555555555556
Accuracy for p2p9:  0.4074074074074074
Accuracy for p2p10:  0.6296296296296297
Accuracy for p2p11:  0.4444444444444444
Accuracy for p3p4:  0.5333333333333333
Accuracy for p3p5:  0.3333333333333333
Accuracy for p3p6:  0.7333333333333333
Accuracy for p3p7:  0.26666666666666666
Accuracy for p3p8:  0.4666666666666667
Accuracy for p3p9:  0.6
Accuracy for p3p10:  0.2
Accuracy for p3p11:  0.5333333333333333
Accuracy for p4p5:  0.47619047619047616
Accuracy for p4p6:  0.38095238095238093
Accuracy for p4p7:  0.5238095238095238
Accuracy for p4p8:  0.47619047619047616
Accuracy for p4p9:  0.6190476190476191
Accuracy for p4p10:  0.3333333333333333
Accuracy for p4p11:  0.5238095238095238
Accuracy for p5p6:  0.3076923076923077
Accuracy for p5p7:  0.6153846153846154
Accuracy for p5p8:  0.38461538461538464
Accuracy for p5p9:  0.6923076923076923
Accuracy for p5p10:  0.38461538461538464
Accuracy for p5p11:  0.5384615384615384
Accuracy for p6p7:  0.25
Accuracy for p6p8:  0.8
Accuracy for p6p9:  0.8
Accuracy for p6p10:  0.6
Accuracy for p6p11:  0.8
Accuracy for p7p8:  0.6666666666666666
Accuracy for p7p9:  0.7407407407407407
Accuracy for p7p10:  0.6296296296296297
Accuracy for p7p11:  0.7407407407407407
Accuracy for p8p9:  0.6842105263157895
Accuracy for p8p10:  0.42105263157894735
Accuracy for p8p11:  0.631578947368421
Accuracy for p9p10:  0.5555555555555556
Accuracy for p9p11:  0.7222222222222222
Accuracy for p10p11:  0.5294117647058824

In [28]:
# jako parametry które w dużej mierze informują o tym czy pacjęt jest chory czy zdrowy wybieram parametry p6 i p11 
# w związku z korelacją na poziomie 0.8